################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CourseProject_InventoryManagement.WebApi/obj
/CourseProject_InventoryManagement.WebApi/bin/Debug/net8.0
