################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CourseProject_InventoryManagement.WebApi/obj
/CourseProject_InventoryManagement.WebApi/bin/Debug/net8.0
/CourseProject_InventoryManagement.Application/obj
/CourseProject_InventoryManagement.Application/bin/Debug/net8.0
/CourseProject_InventoryManagement.Domain/bin/Debug/net8.0
/CourseProject_InventoryManagement.Domain/obj
/CourseProject_InventoryManagement.Infrastructure/bin/Debug/net8.0
/CourseProject_InventoryManagement.Infrastructure/obj
/CourseProject_InventoryManagement.Contracts/bin/Debug/net8.0
/CourseProject_InventoryManagement.Contracts/obj
/CourseProject_InventoryManagement.Infrastructure/Keys/*.json
/CourseProject_InventoryManagement.WebApi/wwwroot/uploads/
